
 @import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto+Slab&display=swap');


  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #777;
    font-family:league Spartan
  }

/*Header area*/

  header {
    padding: 10px 30px 30px 30px;
    background-color: #000000;
    
  }

  .nav{
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    font-size: 20px;

  }

  nav ul{
    padding:10px 0;
    font-weight: lighter;
  }

  .nav li {
    display:inline-flex;
  }

  .nav a {
    padding:5px 25px;
    color:white;
    text-decoration:none
  }

  .nav a:hover{
    color: rgb(177, 176, 176);
    font-weight:bolder;
  }

  .name{
    text-align: center;
    margin: 0;
    font-size: 60px;
    font-family: Roboto Slab;
    padding-top: 20px;
    color: rgb(214, 214, 214);
    border-bottom: 1px solid whitesmoke;  }
  /*End of header*/

  /*Start of content area*/

  .content{
    margin: 0;
    padding:40px;
    background-color: #000000;
  }

  .content-section{
    background-color: rgb(202, 202, 202);
    padding: 10px;
    margin:5px;
    display:flex;
    flex-direction:column ;
  }

  .content-section h2{
    font-family: Roboto Slab;
    color: #000000;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid #000000;
    margin-bottom: 5px;
    background-color: rgb(63, 63, 63) ;
  }
/*Start of Get to know me section*/
  .bio{
    padding: 10px;
  }

.bio article {
  display:flex;
  font-size: 25px;
  flex-direction: column;
  text-align: center;
  border: 1px dotted rgb(63, 63, 63);
  
}
.bio p{
  margin-top: 5px;
}

.my-image{
  width: 300px;
  height: 300px;
  margin:auto;
  border: 3px solid rgb(63, 63, 63);
}


.my-image:hover{
  width: 325px;
  height: 325px;
}

@media screen and (max-width: 600px) {
  .my-image {
    width: 100%;
    height: 100%;
    
  }
  .my-image:hover{
    width: 100%;
    height: 100%;
  }
}
/*End of Get to know me section*/

/*Start of My Work section*/
.projects{
  margin: auto;
}

.projects img {
  height:300px;
  width:300px;
  border: 3px solid rgb(0, 0, 0);
  margin:5px;
}
.projects a {
  height:326px;
  width: 325px;
}
.projects img:hover{
  opacity: .5;

}

@media screen and (max-width: 600px) {
  .projects img {
    width: 100%;
  }
}
